@keyframes crescer {
    from {
        opacity: 0;
        max-height: 0px;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}

@keyframes encolher {
    from {
        opacity: 1;
        max-height: 200px;
    }
    to {
        opacity: 0;
        max-height: 0px;
    }
}