// Intro
.intro-contato {
    padding: $d-media 0;
    background-color: $secundaria;
    @include sombra(0px 4px 8px rgba(0, 0, 0, 0.25));

    h1 {
        font-family: $titulo;
        font-size: em(28);
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: $branco-1;
    }

    @include responsividade() {
        padding: $d-pequena 0;

        h1 {
            font-size: em(20);
        }
    }
}

.faq {
    padding: $d-grande 0;

    h1 {
        @include titulo-sessao();
    }

    p {
        @include subtitulo-sessao();
        margin-bottom: $d-pequena;
    }

    .faq-lista {
        justify-content: center;

        dt, dd {
            @include grid(7);
        }

        dt {
            padding: 10px;
            border-radius: 5px;
            font-family: $titulo;
            font-size: em(16);
            letter-spacing: 0.1em;
            color: $primaria;
            background-color: $branco-1;
            position: relative;
            cursor: pointer;
            @include sombra(4px 4px 8px rgba(0, 0, 0, 0.25));

            &::after {
                content: "";
                width: 20px;
                height: 12px;
                top: 15px;
                right: 20px;
                background: url("../img/icones/setinha.svg") no-repeat center;
                background-size: cover;
                display: inline-block;
                position: absolute;
                transition: .04s ease;
            }

            &.ativo::after {
                transform: rotate(180deg);
            }
        }

        dt {
            margin-top: $d-pequena;
        }

        dd {
            max-height: 0px;
            padding: 0;
            font-family: $corpo-texto;
            font-size: (16em);
            line-height: 1.4em;
            color: $cinza-1;
            font-size: em(16);
            overflow: hidden;
            animation: encolher 0.5s forwards;

            &.ativo {
                max-height: 500px;
                padding: 10px;
                animation: crescer 0.5s forwards;
            }
        }
    }    
}

// Contato
.contato  {
    padding: $d-grande 0;
    background-color: $secundaria;

    h1 {
        @include titulo-sessao($branco-1);
    }

    .container {
        margin-top: $d-media;
        justify-content: space-around;
        align-items: flex-start;
    }

    form {
        @include grid(6);

        .campo {
            margin-bottom: $d-pequena;

            label {
                margin-bottom: 5px;
                font-family: $corpo-texto;
                font-size: em(18);
                color: $branco-1;
                display: block;
            }

            input, textarea {
                width: 100%;
                padding: 10px;
                border: 2px solid $primaria;
                border-radius: 5px;
                font-family: $corpo-texto;
                font-size: em(16);
                letter-spacing: 0.1em;
                color: #222;
                background-color: rgba(248, 248, 248, 0.5);
                outline: none;
                transition: 0.2s;

                &:focus {
                    border-color: $branco-1;
                }
            }
        }
    }

    .redes-sociais {
        @include grid(4);

        h2 {
            font-family: $titulo;
            font-size: em(18);
            font-weight: bold;
            text-align: center;
            color: $branco-1;

            &::after {
                content: "";
                width: 100px;
                height: 3px;
                margin: 2px auto  $d-pequena;
                background-color: currentColor;
                display: block;
            }
        }

        .linha {
            justify-content: center;
        }

        li + li {
            margin-left: 20px;
        }

        a {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: $primaria;
            overflow: hidden;
            display: block;

            &.facebook {
                padding: 5px;
            }
        }

        @include responsividade() {
            display: none;
        } 
    }
}