// Home
.header {
    padding: $d-pequena;
    color: $branco-1;
    background-color: $primaria;
}

.header h1 {
    font-family: $titulo;
    font-size: em(24);
    font-weight: bold;
    text-transform: capitalize;

    @include grid(6);

    @include responsividade() {
        text-align: center;

        &::after {
            content: "";
            width: 100px;
            height: 3px;
            margin: 10px auto 0;
            background-color: currentColor;
            display: block;
        }
    }
}

.header nav {
    @include grid(6);

    ul {
        justify-content: flex-end;
    
        li + li {
            margin-left: 20px;
        }
    
        a {
            padding: 15px 10px;
            font-family: $titulo;
            font-size: em(18);
            display: block;
        }

        @include responsividade() {
            justify-content: center;
        }
    }
}

// intro
.intro-home {
    padding: 120px 0;
    background-color: #000;

    h1 {
        max-width: 460px;
        margin: 0px auto;
        font-family: $titulo;
        font-size: em(28);
        font-weight: bold;
        text-align: center;
        color: $branco-1;        
    }

    @include responsividade(media) {
        padding: 90px 0;

        h1 {
            font-size: em(20);
        }
    }
}